.col-md-6 {
	margin-left: 50px;
}


.maintitle {
	color: #666;
}

.subtitle {
	color: #f07c17;
}

.udacity-border {
	border: 1px solid black;
}


.right-column {
	width: 490px;
}


body {
	font-family: Verdana, sans-serif;
}
